.toolbar {
    display: flex;
    align-items: center;
    gap: 12px;

    &__cell {
        display: flex;
        width: 70px;
        text-align: center;
        justify-content: center;
        padding: 12px 0;
        border-right: 1px solid #a4a4a4;
    }

    &__save {
        margin-left: auto;

        > button {
            height: 100%;

            border: none;
            outline: none;

            background-color: transparent;

            padding: 12px;
            font-size: 14px;

            cursor: pointer;
        }
    }

    select {
        border: none;
    }
}